/*------------ GENERALLE INDSTILLINGER------------------*/

* {
    box-sizing: border-box;

}


html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    background-color: black;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw 12vw 5vw 12vw;
}

.text {
    flex-basis: 300px;
    flex-grow: 1;
}

.image {
    flex-basis: 300px;
    flex-grow: 1;
}

h1 {
    font-family: helvetica;
    color: white;
    font-weight: 200;
    font-size: 2rem;
}

img {
    width: 100%;
}

#nafnahringur {
    background-image: url(svg/nafnahringur.svg);
    height: 150vw;
    width: 150vw;
    background-size: cover;
    position: absolute;
    top: -80vw;
    right: -100vw;
    filter: invert(100%);
}

#nafnahringur_container {
    overflow: hidden;
    width: 100vw;
}

/*----------------- NAV og HEADER ------------------------------*/

nav {
    text-align: left;
    margin: 30px 0 0 12vw;
}

nav a {
    color: white;
    font-size: 3rem;
    margin-right: 10px;
    text-decoration: none;
    font-family: helvetica;
    font-weight: 200;
    display: block;
}

nav a:hover {
    text-decoration: underline;
}

nav a:visited {
    color: white;
}



/*------------------ BACKGROUND TEXT ----------------------*/

#text_bottom {
    background-image: url(svg/texti_top2.svg);
    bottom: -2vw;
    left: 0;
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 4.94vw;
    z-index: -1000;
    filter: invert(100%);
}

#text_top {
    background-image: url(svg/texti_top2.svg);
    top: -1vw;
    left: 0;
    width: 100vw;
    height: 4.94vw;
    background-size: cover;
    position: fixed;
    z-index: -1000;
    filter: invert(100%);
}

#text_left {
    background-image: url(svg/texi_left_lengri.svg);
    left: -1vw;
    top: 0;
    height: 224.5454545454546vw;
    width: 4.94vw;
    background-size: cover;
    position: fixed;
    z-index: -1000;
    filter: invert(100%);
}

#text_right {
    background-image: url(svg/texti_right_lengri.svg);
    right: -1vw;
    top: 0;
    height: 224.5454545454546vw;
    width: 4.94vw;
    background-size: cover;
    position: fixed;
    z-index: -1000;
    filter: invert(100%);
}

#bakgrunnstexti {
    display: none;
}

/*---------------------- INHOLD ------------------------*/

.knap a {
    text-align: center;
    background-color: white;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: black;
    font-family: helvetica;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid white;
}

.knap a:visited {
    color: black;
}

.knap a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.knap {
    margin: 20px 0 30px 0;
}

.text p {
    color: white;
    font-family: helvetica;
    font-weight: 200;
    padding: 0 0 10px 0;
}

/*-----------------------  ANIMATIONER -------------------*/

.rotate {
    animation-name: rotate_kf;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate_kf {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
